<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <cairngorm>
      <configuration type="Cairngorm.Settings.RecommenderConfiguration, Cairngorm">
        <recommenders hint="list:AddRecommender">
          <!--
          <recommender name="sample" type="Cairngorm.Settings.RecommenderSettings, Cairngorm">
            <param desc="name">$(name)</param>
            <searchField>_content</searchField>
            <searchTemplates hint="raw:AddSearchTemplate">
              <SampleItem>{76036F5E-CBCE-46D1-AF0A-4143F9B557AA}</SampleItem>
            </searchTemplates>
            <storedItemsCount>10</storedItemsCount>
            <weightPerMatching>1.0</weightPerMatching>
            <boostGradually>false</boostGradually>
            <filterStoredItems>false</filterStoredItems>
            <filterContextItem>true</filterContextItem>
            <searchScope>/sitecore/content</searchScope>
            <cookieInfo type="Cairngorm.Settings.CookieInfo, Cairngorm">
              <param desc="name">cairngorm_sample</param>
              <lifespan>30</lifespan>
              <domain></domain>
              <path>/</path>
              <secure>true</secure>
              <httpOnly>true</httpOnly>
            </cookieInfo>
            <tagsResolvers hint="raw:AddTagsResolverInfo">
              <resolver fieldName="Tags"     fieldType="text"      delimiter"|" />
              <resolver fieldName="Category" fieldType="link"      targetField="Name" />
              <resolver fieldName="Colors"   fieldType="multilist" targetField="Color Code" />
            </tagsResolvers>
          </recommender>
          -->
        </recommenders>
      </configuration>
    </cairngorm>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                   type="Cairngorm.Pipelines.QueueItemForRecommendation, Cairngorm" />
      </httpRequestBegin>
    </pipelines>
    <services>
      <register serviceType="Cairngorm.Services.IItemTagsResolver, Cairngorm"
                implementationType="Cairngorm.Services.DefaultItemTagsResolver, Cairngorm"
                lifetime="Transient"/>
      <register serviceType="Cairngorm.Services.IRecommenderFactory, Cairngorm"
                implementationType="Cairngorm.Services.DefaultRecommenderFactory`1[[Sitecore.ContentSearch.SearchTypes.SearchResultItem, Sitecore.ContentSearch]], Cairngorm"
                lifetime="Transient"/>
    </services>
  </sitecore>
</configuration>
