<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <cairngorm>
      <configuration type="Cairngorm.Configurations.RecommenderConfiguration, Cairngorm">
      </configuration>
    </cairngorm>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                   type="Cairngorm.Pipelines.QueueItemForRecommendation, Cairngorm" />
      </httpRequestBegin>
    </pipelines>
    <services>
      <register serviceType="Cairngorm.Services.IRecommenderFactory, Cairngorm"
                implementationType="Cairngorm.Services.DefaultRecommenderFactory`1[[Sitecore.ContentSearch.SearchTypes.SearchResultItem, Sitecore.ContentSearch]], Cairngorm"
                lifetime="Transient"/>
    </services>
  </sitecore>
</configuration>
