<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <cairngorm>
      <configuration type="Cairngorm.Configurations.RecommenderConfiguration, Cairngorm">
        <recommenders hint="list:AddRecommender">
          <recommender name="sample" type="Cairngorm.Configurations.RecommenderSetting, Cairngorm">
            <param desc="name">$(name)</param>
            <!--
                (Required) An index field name for search by tags.
                Default: _content
            -->
            <searchField>_content</searchField>
            
            <!--
                Template name or ID to filter the recommendation items.
                Default: Empty (All templates)
            -->
            <searchTemplates hint="list">
              <template>{76036F5E-CBCE-46D1-AF0A-4143F9B557AA}</template>
              <template>Sample Item</template>
            </searchTemplates>
            
            <!--
                A value to be added to boosting when a tag is matched.
                Default: 1.0
            -->
            <weightPerMatching>1.0</weightPerMatching>
            
            <!--
                When enabled, gives higher weight to items retrieved from the ItemStore that are closer to the beginning.
                By default, newly added items to the cookie are weighted more heavily.
                Default: false
            -->
            <boostGradually>false</boostGradually>
            
            <!--
                When enabled, items contained in the ItemsStore will be excluded from the recommendation results.
                Default: true
            -->
            <filterStoredItems>true</filterStoredItems>
            
            <!--
                When enabled, a context item is filtered from results.
                Default: true
            -->
            <filterContextItem>true</filterContextItem>
            
            <!--
                A root item of the recommendation items (Path or ID).
                Default: No scope (Search from all items).
            -->
            <searchScope>/sitecore/content</searchScope>
            
            <itemsStore type="Cairngorm.ItemsStores.CookieItemsStore, Cairngorm">
              <!--
                A length of items stored in the cookie.
                Default: 10
              -->
              <storedItemsCount>10</storedItemsCount>

              <!--
                Cookie's information used for recommendation.
                Default:
                    - Name: recommend_items
                    - MaxAge: 2,592,000 sec. (30 days)
                    - Domain: empty
                    - Path: /
                    - Secure: true
                    - HttpOnly: true
              -->
              <cookieInfo type="Cairngorm.ItemsStores.CookieInfo, Cairngorm">
                <param desc="name">recommend_sample</param>
                <maxAge>2592000</maxAge>
                <domain></domain>
                <path>/</path>
                <secure>true</secure>
                <httpOnly>true</httpOnly>
              </cookieInfo>
            </itemsStore>
            
            <!--
                (Required) The tag resolvers which resolve the tags from a context item. The following three are pre-defined resolvers.
                Default: Empty. Add at least one more resolver.
            -->
            <tagResolvers hint="raw:AddTagResolver">
              <!-- The tags are in the text field. When a delimiter specified, the field value is splited by it. -->
              <resolver type="Cairngorm.TagResolvers.TextFieldTagResolver, Cairngorm" fieldName="Tags" delimiter="|" />
              
              <!-- The tags are in the item's field refered from the link field. When a delimiter specified, the field value is splited by it. -->
              <resolver type="Cairngorm.TagResolvers.LinkFieldTagResolver, Cairngorm" fieldName="Source" targetField="Tags" delimiter="|" />
              
              <!-- The tags are in the items' field refered from the multilist field. When a delimiter specified, the field value is splited by it. -->
              <resolver type="Cairngorm.TagResolvers.MultilistFieldTagResolver, Cairngorm" fieldName="Related News" targetField="Tags" delimiter="|" />
            </tagResolvers>
          </recommender>
        </recommenders>
      </configuration>
    </cairngorm>
  </sitecore>
</configuration>
